<?xml version = "1.0"?>

<robot name="Tutorial">
  <link name="base_link"/>
  <link name="caster_back_link"/>
  <link name="base_scan"/>
  <link name="wheel_left_link"/>
  <link name="wheel_right_link"/>


  <joint name="base_camera_joint" type="fixed">
    <parent link="base_link" />
    <child link="caster_back_link" />
    <origin rpy="0 0 0" xyz="0.5 0 0.5" />
  </joint>

  <joint name="base_scan_joint" type="fixed">
    <parent link="base_link" />
    <child link="base_scan" />
    <origin rpy="0 0 0" xyz="0 0 1.0" />
  </joint>

  <joint name="base_leftwheel_joint" type="fixed">
    <parent link="base_link" />
    <child link="wheel_left_link" />
    <origin rpy="0 0 0" xyz="0.5 -0.5 -0.5" />
  </joint>

  <joint name="base_rightwheel_joint" type="fixed">
    <parent link="base_link" />
    <child link="wheel_right_link" />
    <origin rpy="0 0 0" xyz="0.5 0.5 -0.5" />
  </joint>  
</robot>
